{% extends 'layouts/base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<div class="row col-6 mx-auto">
    <h1 class="text-center">Home</h1>

    {{form_start(form)}}
    {{form_widget(form)}}

    <button type="submit" class="btn btn-primary w-100" formnovalidate>envoyer</button>

    {{form_end(form)}}

</div>

{% endblock %}
